/*==========================================================
  Fonts
==========================================================*/

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/*==========================================================
  Theme Fixes
==========================================================*/

*, *::before, *::after {
    box-sizing: inherit;
}

.wy-menu-vertical li a,
.wy-menu-vertical li span {
    padding: 0.4045em 1.1em;
}

.wy-menu-vertical .subnav a {
    padding-left: 2.2em;
}

.wy-menu-vertical ul li ul.subnav ul.subnav {
    padding-left: 1em;
}

.wy-menu-vertical .subnav a.current {
    padding-left: 2.2em;
}

.wy-menu-vertical ul.subnav li.current > ul a {
    padding-left: 3.3em;
}

.wy-menu-vertical li.current a {
 /*   padding-left: 1.2em;*/
}

.wy-menu-vertical ul li.current a {
    padding-left: 2.2em;
}

.wy-menu-vertical ul li.on a, .wy-menu-vertical ul li.current > a {
    padding-left: 1.1em;
}

h6 {
    margin: 0;
}

code, .rst-content tt {
    padding: 2px 5px;
    position: relative;
    top: -1px;
}

h3, h4, h5, h6 {
    color: #2980b9;
    font-weight: 300;
}
h5 {
    font-size: 110%;
}
h1, h2, h3, h4, h5, h6, legend {
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight: 700;
    margin-top: 0;
}

/*==========================================================
  Documentation Styles
==========================================================*/

.row-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.row-flex img {
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;

}
.row-flex p,
.row-flex > pre,
.row-flex > div {
  padding: 0 14px;
  margin: 0 0 18px
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    clear: both;
}
.row::before, .row::after {
    content: " ";
    display: table;
}

.row .col-4 {
    float: left;
    width: 30%;
    padding: 0.6em;
}

.row .col-3 {
    float: left;
    width: 24%;
    padding: 0.6em;
}


.rst-content .section dl > dt {
    background: transparent;
    border-width: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

.section .color {
    background-color: #37c180;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 48px;
    line-height: 75px;
    padding-right: 0.5em;
    text-align: right;
    width: 100%;
}

.section .green {
    background-color: #37c180;
    color: #fff;
}

.section .blue {
    background-color: #378DD4;
    color: #fff;
}

.section .dark-blue {
    background-color: #24425C;
    color: #fff;
}

.section .grey {
    background-color: #8C939B;
    color: #fff;
}

.section .highlight {
    background-color: #FAFAFA;
    color: #8C939B;
}


.section div.palette {
    display: inline-block;
    max-width: 100%;
    padding: 0;
    text-align: center;
}

.section div.palette ul {
    list-style: outside none none;
    margin: 0;
}

.section div.palette ul.table > li {
    list-style: outside none none;
    float: none;
    overflow: visible;
    height: 32px;
    margin-bottom: 2px;
    border-bottom: 1px solid #eee;;
}

.section div.palette ul.table ul li {
    display: inline-block;
    margin: 0;
    float: left;
    width: 140px;
    text-align: left;
}

.section div.palette ul.table ul li:first-child {
    width: 100px;
    text-align: center;
    margin-right: 10px;
}

.section div.palette ul.table ul li a {
    display: block;
    font-weight: 500;
    width: 100%;
    height: 100%;
    line-height: 30px;
    opacity: 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.section div.palette ul.table ul li > span {
    float: left;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    max-width: none;
}

.section div.palette ul.table ul li > span > span {
    font-weight: 400;
    text-transform: uppercase;
}

.section div.palette ul.table ul li > span > span.nocase {
    text-transform: none;
}

.section div.palette ul.table ul li > span > span:first-child {
    background: #f8f8f8 none repeat scroll 0 0;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
    margin-right: 3px;
    margin-top: 5px;
    padding: 0 5px;
    vertical-align: top;
}


.section div.palette ul.line li {
    display: inline-block;
    font-size: 13px;
    height: 100px;
    padding: 0;
    position: relative;
    width: 70px;
    margin: 0;
    float: left;
}

.section div.palette ul.line li:first-child {
    border-radius: 3px 0 0 3px;
}

.section div.palette ul.line li:last-child {
    border-radius: 0 3px 3px 0;
}

.section div.palette ul.line li a {
    display: block;
    font-weight: 500;
    width: 100%;
    height: 100%;
    line-height: 100px;
    opacity: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.section div.palette ul li a.dark {
    color: #000;
}

.section div.palette ul li a:hover {
    opacity: 1;
}

.typeface {
    font-family: "OpenSans", serif;
    font-size: 12px;
    font-weight: 400;
}

.typeface > div {
    border-bottom: 1px solid #cfcfcf;
    float: left;
    height: 130px;
    margin-bottom: 10px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 46%;
}

.typeface p {
  margin-bottom: 10px;
}

.typeface pre {
  margin: 0px;
  font-size: 14px;
}

.typeface .header {
    font-size: 14px;
}

.typeface .italic {
  font-style: italic;
}

.typeface .light {
    font-weight: 300;
}

.typeface .semibold {
    font-weight: 600;
}

.typeface .bold {
    font-weight: 700;
}

.typeface .extrabold {
    font-weight: 800;
}

.icons {
    margin-left: auto;
    margin-right: auto;
}

.icons::before, .icons::after {
    content: " ";
    display: table;
}

.icons::after {
    clear: both;
}

.icons div {
  width: 150px;
  display: inline-block;
  float: left;
  padding-top: 6px;
  margin-right: 10px;
}

.icons img {
  max-width: 80px;
  margin: 8px;
}

.icons i {
    margin: 8px;
    max-width: 80px;
    color: grey;
}

.flags img {
  border: 1px solid gray;
}

.counter div {
  float: right;
  display: inline;
  width: 96%;
  font-size: 16px;
  margin-top: 2px;
}

.counter div:first-child {
    border: 2px solid #378dd4;
    border-radius: 100%;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    text-align: center;
    width: 24px;
    display: inline-block;
    float:left;
    margin: 0;
}

.counter p {
    margin-left: 28px;
}

dl.images dd {
  height: 230px;
}

dl.images img {
    float: left;
    margin-right: 15px;
}
